<form action="/add-book" method="POST">
  
<label for="title">TITLE: </label>
<input type="text" name="title"><br><br>

<label for="author">AUTHOR: </label>
<input type="text" name="author"><br><br>

<button>SUBMIT</button><br><br><br>

<a href="/books">Books History</a>

</form>