<form action="/add-book" method="POST">
  <h2>BOOK LIBRARY</h2>
  <div class="inputbox">
    <input type="text" name="title" required>
    <label for="title">TITLE</label>
  </div>  
  <div class="inputbox">
    <input type="text" name="author" required>        
    <label for="author">AUTHOR</label>
  </div>
  <button>SUBMIT</button>
  <div class="link">
    <p><a href="/books">Show all books</a></p>
  </div>
</form>